[submodule "odoo"]
	path = odoo
	url = https://github.com/odoo/odoo.git
	branch = 16.0
[submodule "addons_oca/account-financial-tools"]
	path = addons_oca/account-financial-tools
	url = https://github.com/OCA/account-financial-tools.git
	branch = 16.0
[submodule "addons_oca/account-financial-reporting"]
	path = addons_oca/account-financial-reporting
	url = https://github.com/OCA/account-financial-reporting.git
	branch = 16.0
[submodule "addons_oca/account-reconcile"]
	path = addons_oca/account-reconcile
	url = https://github.com/OCA/account-reconcile.git
	branch = 16.0
[submodule "addons_oca/bank-payment"]
	path = addons_oca/bank-payment
	url = https://github.com/OCA/bank-payment.git
	branch = 16.0
[submodule "addons_oca/reporting-engine"]
	path = addons_oca/reporting-engine
	url = https://github.com/OCA/reporting-engine.git
	branch = 16.0
[submodule "addons_oca/account-budgeting"]
	path = addons_oca/account-budgeting
	url = https://github.com/OCA/account-budgeting.git
	branch = 16.0
[submodule "addons_oca/l10n-brazil"]
	path = addons_oca/l10n-brazil
	url = https://github.com/OCA/l10n-brazil.git
	branch = 16.0
[submodule "addons_oca/mis-builder"]
	path = addons_oca/mis-builder
	url = https://github.com/OCA/mis-builder.git
	branch = 16.0
[submodule "addons_oca/contract"]
	path = addons_oca/contract
	url = https://github.com/OCA/contract.git
	branch = 16.0
[submodule "addons_oca/web"]
	path = addons_oca/web
	url = https://github.com/OCA/web.git
	branch = 16.0
[submodule "addons_oca/server-ux"]
	path = addons_oca/server-ux
	url = https://github.com/OCA/server-ux.git
	branch = 16.0
[submodule "addons_oca/bank-statement-import"]
	path = addons_oca/bank-statement-import
	url = https://github.com/OCA/bank-statement-import.git
	branch = 16.0
[submodule "addons_oca/purchase-workflow"]
	path = addons_oca/purchase-workflow
	url = https://github.com/OCA/purchase-workflow.git
	branch = 16.0
