[Unit]
Description=Odoo16
After=network.target postgresql.service

[Service]
Type=simple
PermissionsStartOnly=true
User=odoo16
Group=odoo
SyslogIdentifier=odoo16
PIDFile=/run/odoo16/odoo16.pid
ExecStartPre=/usr/bin/install -d -m755 -o odoo16 -g odoo /run/odoo16
ExecStart=/python-venv/3.9/odoo16/bin/python /opt/odoo16/odoo/odoo-bin --config=/opt/odoo16/odoo16.conf --pid=/run/odoo16/odoo16.pid
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
Alias=odoo16.service
WantedBy=multi-user.target